body {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    background-color: #1e252b;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}