body {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  background-color: #1e252b;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1254px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  padding-top: 26px;
  padding-bottom: 26px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}

.logo__icon {
  margin-right: 12px;
}

.logo__title {
  text-align: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 43px;
}

.header-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  color: rgba(255, 255, 255, 0.55);
}

.header-nav__icon {
  margin-left: 8px;
  fill: rgba(255, 255, 255, 0.55);
}

.site-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.button {
  padding: 12px 28px;
  background-color: #ff6e30;
  color: #fdf5ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  border: transparent;
  cursor: pointer;
}

.button--transparent {
  margin-right: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
}

.js-no-transparency {
  background-color: rgba(20, 22, 29, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-transition: background-color 250ms linear, -webkit-backdrop-filter 250ms linear;
  transition: background-color 250ms linear, -webkit-backdrop-filter 250ms linear;
  transition: background-color 250ms linear, backdrop-filter 250ms linear;
  transition: background-color 250ms linear, backdrop-filter 250ms linear, -webkit-backdrop-filter 250ms linear;
}

.hero {
  padding-top: 178px;
  padding-bottom: 100px;
  height: 700px;
  background-image: url(../images/illustration.png);
  background-position-x: right;
  background-position-y: 132px;
  background-repeat: no-repeat;
  background-clip: content-box;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.hero__wrapper {
  width: 600px;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.9);
}

.hero__title--mode {
  color: #ff6e30;
}

.hero__text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: rgba(255, 255, 255, 0.55);
}

.hero__label {
  position: relative;
}

.hero__label::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}

.hero__label:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}

.hero__label::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}

.hero__label::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}

.hero__input {
  padding-left: 55px;
  width: 500px;
  height: 64px;
  color: #fff;
  background-color: #283036;
  border-radius: 15px;
  border: transparent;
  outline: none;
}

.hero__input:focus {
  border: 1px solid #ff6e30;
}

.hero__form-icon {
  position: absolute;
  top: 0;
  left: 18px;
  stroke: rgba(255, 255, 255, 0.38);
}

.hero__button {
  position: absolute;
  top: -50%;
  right: 11px;
  padding: 12px 36px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 58px;
}

.socials__item:not(:last-child) {
  margin-right: 8px;
}

.section__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.section__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 427px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.cardset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 100px;
}

.cardset__item {
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.cardset__item:hover, .cardset__item:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: radial-gradient(circle at 90% 0, rgba(255, 110, 48, 0.6) -100%, rgba(40, 48, 54, 0.6) 30%);
  background-color: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 15px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.cardset__item:hover .cardset__button,
.cardset__item:focus .cardset__button {
  color: #fdf5ff;
  background-color: #ff6e30;
}

.cardset__item:hover .cardset__label,
.cardset__item:focus .cardset__label {
  background-color: #283036;
  -webkit-box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
}

.cardset__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 33px;
}

.cardset__icon {
  margin-right: 30px;
}

.cardset__title {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.78);
}

.cardset__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 165, 55, 0.55);
}

.cardset__text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.88;
  color: rgba(255, 255, 255, 0.55);
}

.cardset__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardset__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  padding: 7px;
  width: 42px;
  height: 42px;
}

.cardset__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
}

.cardset__input:focus + .cardset__icon-like {
  fill: rgba(200, 161, 161, 0.38);
}

.cardset__input:checked + .cardset__icon-like {
  fill: #fd3b41;
}

.cardset__icon-like {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: rgba(255, 255, 255, 0.38);
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.cardset__bottom-icon {
  padding: 7px;
  width: 42px;
  height: 42px;
}

.cardset__button {
  margin-left: auto;
  min-width: 106px;
  color: rgba(255, 255, 255, 0.55);
  background-color: transparent;
  cursor: pointer;
  border: #0000;
  border-radius: 8px;
  padding: 9px 35px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.popular-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 17px 38px;
  min-width: 184px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #ff6e30;
  background-color: #1e252b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.clients-container {
  text-align: center;
  padding: 55px 83px 56px 82px;
  background-image: radial-gradient(circle at top left, rgba(255, 72, 66, 0.4) -8%, rgba(44, 53, 61, 0.2) 10%);
  border-radius: 25px;
  background-color: #1E252B;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.clients__title {
  margin-bottom: 55px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.clients-list__icon {
  fill: rgba(255, 255, 255, 0.2);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-us {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.join-us__title {
  margin-bottom: 25px;
}

.join-us__subtitle {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 427px;
}

.join-us__form {
  display: inline-block;
  position: relative;
}

.join-us__input {
  background: #283036;
  border-radius: 15px;
  width: 549px;
  height: 64px;
  padding: 22px 25px;
}

.join-us__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.38);
}

.join-us__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.38);
}

.join-us__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.38);
}

.join-us__input::placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.38);
}

.join-us__btn {
  position: absolute;
  top: 8px;
  right: 13px;
}
/*# sourceMappingURL=index.css.map */