$primary-fz: 14px;
$primary-fw: 400;
$pr-font: 'Poppins',
sans-serif;
$sec-font: 'Roboto',
sans-serif;
$pr-text-color: rgba(255, 255, 255, 0.55);
$pr-accent-color: rgba(255, 110, 48, 1);
$sec-accent-color: rgba(255, 165, 55, 0.55);
$pr-title-color: rgba(255, 255, 255, 0.9);
$sec-title-color: rgba(255, 255, 255, 0.78);
$pr-bg-color: rgba(30, 37, 43, 1);
$sec-bg-color: rgba(40, 48, 54, 0.6);