<section class="section">
  <div class="container clients-container">
    <h2 class="section__title visually-hidden">Brands we are working</h2>
    <p class="clients-container__text">Trusted more than 150+ brand</p>
    <ul class="clients-list">
      <li class="clients-list__item">
        <a href="" class="clients-list__link">
          <svg class="clients-list__icon" width="193" height="42">
            <use href="./images/sprite.svg#icon-microsoft"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list__item">
        <a href="" class="clients-list__link">
          <svg class="clients-list__icon" width="157" height="51">
            <use href="./images/sprite.svg#icon-google"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list__item">
        <a href="" class="clients-list__link">
          <svg class="clients-list__icon" width="194" height="49">
            <use href="./images/sprite.svg#icon-clients-slack"></use>
          </svg>
        </a>
      </li>
      <li class="clients-list__item">
        <a href="" class="clients-list__link">
          <svg class="clients-list__icon" width="194" height="44">
            <use href="./images/sprite.svg#icon-wordpress"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
