<header class="header" id="header">
  <div class="container container--flex">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="38" height="38">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo__title">antools.</span>
    </a>
    <ul class="header-nav">
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">Home</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#"
          >Categories
          <svg class="header-nav__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">My Collections</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">Blog</a>
      </li>
    </ul>

    <ul class="site-auth">
      <li>
        <button class="button button--transparent" type="button">Login</button>
      </li>
      <li>
        <button class="button" type="button">Sign Up</button>
      </li>
    </ul>
  </div>
</header>


