<section class="hero">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <h1 class="hero__title">
        Awesome tools for Designer & Developer<span class="hero__title--mode"
          >.</span
        >
      </h1>
      <p class="hero__text">
        Antool is a web collection of information on paid or free Design and
        Development tools
      </p>
      <form class="hero__form">
        <label class="hero__label">
          <input
            class="hero__input"
            type="text"
            placeholder="find more than 430+ tools..."
          />
          <svg class="hero__form-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
          <button class="button hero__button" type="button">Search</button>
        </label>
      </form>
    </div>

    <ul class="socials">
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="34" height="34">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="34" height="34">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="34" height="34">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
