<section class="section join-us">
  <div class="container">
    <h2 class="section__title join-us__title">Become a contributor?</h2>
    <p class="section__subtitle join-us__subtitle">
      Join us and get tips & tricks to become a great Designer and Developer
    </p>
    <form class="join-us__form">
      <input
        class="join-us__input"
        type="email"
        name="email"
        placeholder="Enter your email..."
      />
      <button class="btn join-us__btn" type="submit">Join Us</button>
    </form>
  </div>
</section>
