<section class="section">
  <div class="container">
    <h2 class="section__title">Most Popular Tools</h2>
    <p class="section__text">
      Tools for the best Designers and Developers most popularly used in the
      world
    </p>

    <ul class="cardset">
      <li class="cardset__item">
        <div class="cardset__wrapper">
          <svg class="cardset__icon" width="64" height="64">
            <use href="./images/sprite.svg#icon-figma"></use>
          </svg>
          <div class="cardset__title-wrapper">
            <h3 class="cardset__title">FIGMA</h3>
            <p class="cardset__subtitle">Free</p>
          </div>

          <p class="cardset__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          <div class="cardset__bottom-wrapper">
            <label class="cardset__label">
              <input class="cardset__input" type="checkbox" name="icon-like" />

              <svg class="cardset__icon-like" width="28" height="28">
                <use href="./images/sprite.svg#icon-like"></use>
              </svg>
            </label>

            <svg class="cardset__bottom-icon" width="30" height="30">
              <use href="./images/sprite.svg#icon-folder"></use>
            </svg>
          </div>
          <button class="cardset__button" type="button">Visit</button>
        </div>
      </li>

      <li class="cardset__item">
        <div class="cardset__wrapper">
          <svg class="cardset__icon" width="64" height="64">
            <use href="./images/sprite.svg#icon-sketch"></use>
          </svg>
          <div class="cardset__title-wrapper">
            <h3 class="cardset__title">Sketch</h3>
            <p class="cardset__subtitle">Trial & Paid</p>
          </div>

          <p class="cardset__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          <div class="cardset__bottom-wrapper">
            <label class="cardset__label">
              <input class="cardset__input" type="checkbox" name="icon-like" />

              <svg class="cardset__icon-like" width="28" height="28">
                <use href="./images/sprite.svg#icon-like"></use>
              </svg>
            </label>

            <svg class="cardset__bottom-icon" width="30" height="30">
              <use href="./images/sprite.svg#icon-folder"></use>
            </svg>
          </div>
          <button class="cardset__button" type="button">Visit</button>
        </div>
      </li>

      <li class="cardset__item">
        <div class="cardset__wrapper">
          <svg class="cardset__icon" width="64" height="64">
            <use href="./images/sprite.svg#icon-vscode"></use>
          </svg>
          <div class="cardset__title-wrapper">
            <h3 class="cardset__title">Visual Studio Code</h3>
            <p class="cardset__subtitle">Free</p>
          </div>

          <p class="cardset__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          <div class="cardset__bottom-wrapper">
            <label class="cardset__label">
              <input class="cardset__input" type="checkbox" name="icon-like" />

              <svg class="cardset__icon-like" width="28" height="28">
                <use href="./images/sprite.svg#icon-like"></use>
              </svg>
            </label>

            <svg class="cardset__bottom-icon" width="30" height="30">
              <use href="./images/sprite.svg#icon-folder"></use>
            </svg>
          </div>
          <button class="cardset__button" type="button">Visit</button>
        </div>
      </li>

      <li class="cardset__item">
        <div class="cardset__wrapper">
          <svg class="cardset__icon" width="64" height="64">
            <use href="./images/sprite.svg#icon-notion"></use>
          </svg>
          <div class="cardset__title-wrapper">
            <h3 class="cardset__title">Notion</h3>
            <p class="cardset__subtitle">Free & Paid</p>
          </div>

          <p class="cardset__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          <div class="cardset__bottom-wrapper">
            <label class="cardset__label">
              <input class="cardset__input" type="checkbox" name="icon-like" />

              <svg class="cardset__icon-like" width="28" height="28">
                <use href="./images/sprite.svg#icon-like"></use>
              </svg>
            </label>

            <svg class="cardset__bottom-icon" width="30" height="30">
              <use href="./images/sprite.svg#icon-folder"></use>
            </svg>
          </div>
          <button class="cardset__button" type="button">Visit</button>
        </div>
      </li>

      <li class="cardset__item">
        <div class="cardset__wrapper">
          <svg class="cardset__icon" width="64" height="64">
            <use href="./images/sprite.svg#icon-slack"></use>
          </svg>
          <div class="cardset__title-wrapper">
            <h3 class="cardset__title">Slack</h3>
            <p class="cardset__subtitle">Free & Paid</p>
          </div>

          <p class="cardset__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          <div class="cardset__bottom-wrapper">
            <label class="cardset__label">
              <input class="cardset__input" type="checkbox" name="icon-like" />

              <svg class="cardset__icon-like" width="28" height="28">
                <use href="./images/sprite.svg#icon-like"></use>
              </svg>
            </label>

            <svg class="cardset__bottom-icon" width="30" height="30">
              <use href="./images/sprite.svg#icon-folder"></use>
            </svg>
          </div>
          <button class="cardset__button" type="button">Visit</button>
        </div>
      </li>

      <li class="cardset__item">
        <div class="cardset__wrapper">
          <svg class="cardset__icon" width="64" height="64">
            <use href="./images/sprite.svg#icon-invision"></use>
          </svg>
          <div class="cardset__title-wrapper">
            <h3 class="cardset__title">Invision</h3>
            <p class="cardset__subtitle">Free & Paid</p>
          </div>

          <p class="cardset__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          <div class="cardset__bottom-wrapper">
            <label class="cardset__label">
              <input class="cardset__input" type="checkbox" name="icon-like" />

              <svg class="cardset__icon-like" width="28" height="28">
                <use href="./images/sprite.svg#icon-like"></use>
              </svg>
            </label>

            <svg class="cardset__bottom-icon" width="30" height="30">
              <use href="./images/sprite.svg#icon-folder"></use>
            </svg>
          </div>
          <button class="cardset__button" type="button">Visit</button>
        </div>
      </li>
    </ul>

    <button class="popular-button" type="button">Load more</button>
  </div>
</section>
