* {
  box-sizing: border-box;
}

.join-us {
  padding-top: 150px;
  padding-bottom: 150px;

  text-align: center;
}

.join-us__title {
  margin-bottom: 25px;
}

.join-us__subtitle {
  margin-bottom: 100px;
}
.join-us__form {
  display: inline-block;
  position: relative;
}
.join-us__input {
  background: #283036;
  border-radius: 15px;

  width: 549px;
  height: 64px;

  padding: 22px 25px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.38);
  }
}

.join-us__btn {
  position: absolute;
  top: 8px;
  right: 13px;
}
