.section__title {
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;

  text-align: center;

  color: $pr-title-color;
}

.section__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;

  width: 427px;
  font-weight: 500;

  font-size: 18px;
  line-height: 1.67;
  text-align: center;

  color: $pr-text-color;
}

.cardset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 100px;
}

.cardset__item {
  overflow: hidden;
  transition: transform 250ms linear;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background-image: radial-gradient(
      circle at 90% 0,
      rgba(255, 110, 48, 0.6) -100%,
      rgba(40, 48, 54, 0.6) 30%
    );

    background-color: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(50px);

    border-radius: 15px;
    transform: translateY(-20px);
  }

  &:hover .cardset__button,
  &:focus .cardset__button {
    color: #fdf5ff;
    background-color: #ff6e30;
  }

  &:hover .cardset__label,
  &:focus .cardset__label {
    background-color: #283036;
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
    border-radius: 8px;
  }
}

.cardset__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 33px;
}

.cardset__icon {
  margin-right: 30px;
}

.cardset__title {
  margin-bottom: 3px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;

  color: $sec-title-color;
}

.cardset__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: $sec-accent-color;
}

.cardset__text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.88;

  color: $pr-text-color;
}

.cardset__bottom-wrapper {
  display: flex;
  align-items: center;
}

.cardset__label {
  position: relative;
  display: flex;
  align-items: center;

  margin-right: 12px;

  padding: 7px;
  width: 42px;
  height: 42px;
}

.cardset__input {
  appearance: none;
  margin: 0;

  &:focus + .cardset__icon-like {
    fill: rgba(200, 161, 161, 0.38);
  }

  &:checked + .cardset__icon-like {
    fill: #fd3b41;
  }
}

.cardset__icon-like {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: rgba(255, 255, 255, 0.38);

  transition: fill 250ms linear;
}

.cardset__bottom-icon {
  padding: 7px;
  width: 42px;
  height: 42px;
}

.cardset__button {
  margin-left: auto;
  min-width: 106px;

  color: $pr-text-color;
  background-color: transparent;

  cursor: pointer;

  border: #0000;
  border-radius: 8px;
  padding: 9px 35px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  transition: background-color 250ms linear;
}

.popular-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 17px 38px;
  min-width: 184px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #ff6e30;
  background-color: #1e252b;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  cursor: pointer;
}
